.about {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 24px;
}

.about-title {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: #b48d59;
  border-bottom: solid 1px #b48d59;
}

.about-btn {
  padding: 12px;

  color: hotpink;
  background-color: rgb(249, 227, 231);

  border: solid 1px hotpink;
  border-radius: 16px;

  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;

  transition: background-color 0.5s;
}

.about-btn:hover {
  cursor: pointer;
  background-color: rgb(251, 202, 211);
}
