@import "./Variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  padding: 0 2rem;
  background-color: #fff0f6;

  z-index: 3;

  position: sticky;
  top: 0;
}

.header-title,
.nav-link:link {
  font-size: 1rem;
  font-weight: 400;
  color: #7c603c;

  text-transform: uppercase;
}

.header-title:link {
  font-size: 20px;
  font-weight: 400;
  padding: 1.6rem 0;
}

.header-menu-btn {
  border: none;
  background-color: transparent;
}

.header-menu-icon {
  height: 42px;
  fill: #7c603c;
}

.header-links {
  position: absolute;
  top: 4rem;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 48px;

  height: 100vh;
  width: 100vw;
  padding-top: 10%;
  font-size: 36px;

  background-color: rgb(240, 255, 255);

  transition: all 0.3s;
  transform: scale(1, 1);
  transform-origin: 100% 50%;
}

.hide-nav {
  transform: scale(0, 1);
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  position: relative;
}

.nav-link:visited,
.nav-link:link {
  color: #8d6d44;
  padding: 2px 0;
  // font-size: 16px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #7c603c;
  opacity: 0;
  transition: opacity 300ms, transform 500ms;
  transform: translate3d(-30%, 0, 0);
}

.nav-link:hover::after {
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
}

@media screen and (min-width: $breakpoint-small) {
}

// @media screen and (min-width: $breakpoint-medium) {
// }

// @media screen and (min-width: $breakpoint-large) {
// }

// @media screen and (min-width: $breakpoint-xlarge) {
// }
