.location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  margin: 0 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.location-card:first-child {
  margin-left: 4rem;
}

.location-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.location-img {
  width: 100%;
}

.location-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.location-title {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

.location-title-link:link,
.location-title-link:visited {
  text-decoration: none;
  color: black;
}

.location-time {
  // display: flex;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.location-date {
  font-weight: 300;
  padding-right: 4px;
}

.location-hours {
  font-weight: 500;
}

.location-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
