.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.locations-title {
  margin: 3rem;
  border-bottom: 2px;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: #b48d59;
  border-bottom: solid 1px #b48d59;
}

.location-cards {
  display: flex;
 justify-content:  center;
  width: 100%;
  overflow-x: auto;
}


